﻿<%@ Page Title="" Language="C#" MasterPageFile="Sysadmin.Master" AutoEventWireup="true" CodeBehind="CreateMentor.aspx.cs" Inherits="WEB_ePortfolio.SysAdmin.CreateMentor" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <table class="w-100">
        <tr>
            <td>
                <h1>Fill in mentor particulars</h1>
            </td>
        </tr>
        <tr>
            <td>Name:</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </table>
</asp:Content>
