﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Footer.ascx.cs" Inherits="WEB_ePortfolio.Footer" %>
    <div class="container-fluid h-25 bg-primary">
        <!--<div class="container">
            <ul class="footer">
                <li><a href="#">About us</a></li>
                <li><a href="#">ePortfolio</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Sitemap</a></li>
            </ul>
        </div>-->
    </div>
